* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
a,
p {
  text-decoration: none;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
header {
  background-color: #e1ede6;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 33px 0;
  @media (max-width: 640px) {
    flex-direction: column;
    gap: 40px;
  }
}

.header__texts {
  display: flex;
  align-items: center;
  gap: 60px;
  ul {
    display: flex;
    align-items: center;
    gap: 60px;
  }
  @media (max-width: 440px) {
    width: 100%;
    justify-content: space-between;
    padding-top: 20px;
    border-top: 1px solid gray;
    ul {
      display: none;
    }
  }
}

.meny {
  display: none;
  @media (max-width: 440px) {
    display: flex;
  }
}
.bird__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bird__box {
  max-width: 540px;
  width: 100%;
  margin-top: 50px;
  h1 {
    max-width: 470px;
    width: 100%;
    font-weight: 500;
    font-size: clamp(1.875rem, 1.193rem + 3.41vw, 3.75rem);
    line-height: 110%;
    letter-spacing: 0%;
    span {
      color: #598d66;
    }
  }
  p {
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #86928b;
    margin: 20px 0 60px 0;
  }
  button {
    padding: 21px 60px;
    border: 1px solid #598d66;
    color: #598d66;
    background-color: transparent;
  }
}
.bird__img {
  width: clamp(12.188rem, -7.716rem + 55.29vw, 33.75rem);
  @media (max-width: 576px) {
    display: none;
  }
}

.country__text {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.country__button {
  display: flex;
  gap: 30px;
  a {
    border-radius: 20px;
    padding: 7px;
    border: none;
    background-color: #d4e8d9;
    color: #2c2d35;
  }
  button {
    background-color: #598d66;
    color: #f4f6f5;
    border: none;
    border-radius: 30px;
    padding: 5px;
  }
}
.country__wrapper {
  width: 100%;
}
.country__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px 10px;
  margin-top: 30px;
  padding: 30px 0;
  width: 100%;
}

.country__card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #e1ede6;
  padding: clamp(1.25rem, 1.023rem + 1.14vw, 1.875rem);
  max-width: 330px;
  width: 100%;
  img {
    width: 100%;
  }
  p {
    color: #86928b;
  }
  h3 {
    color: #598d66;
  }
  button {
    background-color: #e1ede6;
    border: #598d66 solid 2px;
    height: 65px;
    color: #598d66;
  }
}
.country__text {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: space-between;
}
.country__button {
  display: flex;
}

.french {
  background-image: url(./img/pic_background.png);
  background-size: cover;
  max-width: 100%;
}

.french__wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 70px 0;
  max-width: 570px;
  width: 100%;
  color: #fff;
  gap: 40px;
  button {
    margin-top: 40px;
    background-color: #eedb6d;
    height: 65px;
    width: 257px;
    font-size: clamp(1.125rem, 1.08rem + 0.23vw, 1.25rem);
  }
  p {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
  }
}
.french__text {
  display: flex;
  align-items: center;
  gap: 10px;
  h1 {
    font-weight: 500;
    line-height: 100%;

    color: #f4f6f5;
    font-size: clamp(1.5rem, 1.136rem + 1.82vw, 2.5rem);
  }

  img {
    width: 50px;
  }
}

.command__text {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 30px;

  p {
    width: 80%;
  }
}

.command__wrapper {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 30px 0;

  @media (max-width: 800px) {
    flex-direction: column;
  }
}
.hjh {
  max-width: 100%;
}

.end__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  @media (max-width: 800px) {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
  }
}
.house2 {
  display: flex;
  gap: 30px;
  @media (max-width: 440px) {
    flex-direction: column;
    align-items: center;
  }
}
.END {
  background-color: #e1ede6;
}
